@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
body {
 background: hsl(212, 45%, 89%);
 font-family: "Young Serif", serif;
}
.container {
  height: 570px;
  width: 400px;
  background: hsl(0, 0%, 100%);
  gap: 20px;
  margin-left: 450px;
  text-align: center;
  border-radius: 20px;
}
img {
  margin-top: 20px;
  height: 280px;
  width: 350px;
  border-radius: 20px;
}

.improve-text {
  font-weight: 400;
  font-size: 2rem;
  /* margin-left: 20px; */
  margin: 20px;
}
.scan-text {
  font-weight: 700;
  font-size: 18px;
  color: hsl(216, 15%, 48%);
  margin: 15px;
}
.attribution {
  text-align: center;
  margin-top: 10px;
}